:root {
    font-family: Arial, sans-serif;
}

/* Body and page container */
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profilecard {
    background-color: beige;
    border-radius: 15px;
    box-shadow: 2px 1px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 300px;
    width: 700px;
    text-align: center;
}

/* Form elements */
.login-container form {
    display: flex;
    flex-direction: column;
}

/* is this valid? */

input {
    padding: 8px 12px;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
    max-width: 300px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #0056b3;
}

/* login container */

/* Button styling */
.login-container button {
    background-color: var(--button-background);
    color: #ffffff;
    padding: 0.6rem;
    border: none;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #0056b3;
}
